header {
  padding-top: 120px;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}

.name {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic img {
  height: 180px;
}

/* header for desktop */

@media screen and (min-width: 1024px) {
  header {
  flex: 0 0 33%;
  height: auto;
  background-color: aqua;
  padding-bottom: 64px;
  }
}
