
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f1ec;
  width: 90%;
}

 /* layout for desktop */
 
@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .main-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: calc(100vh - 60px);
    width: 100%;
    overflow: auto;
  }
  
  .header-new-tweet-wrap {
    position: sticky;
    height: calc(100vh - 60px);
    top: 0;
    width: 500px;
    margin-right: 1rem;
  }
}
