.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid #545149;
  width: 100%;
  background-color: #f4f1ec;
  margin-bottom: 10px;
  color: #545149;
  font-weight: 600;
}

#tweet-text::placeholder {
  font-weight: 600;
  color: #545149;
}

#tweet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#tweet-form label {
  font-family: 'Bungee', sans-serif;
}

#below-tweet-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#tweet-button {
  display: flex;
  border: 3px solid #5661da;
  border-radius: 5px;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
}

.counter {
  font-family: 'Bungee', sans-serif;
  margin-right: 5px;
}

.error {
  display: none;
  border: 2px solid #ff3333; /* Red border for the parent container */
  border-radius: 5px; /* Rounded corners for the parent container */
  padding: 20px; /* Padding around the error message content */
  width: 80%;
}

.error p {
  background-color: #ff7f7f; /* Reddish background color for the error message */
  color: #fff; /* White text color */
  padding: 10px; /* Padding around the text */
  border: 1px solid #ff3333; /* Red border for the error message */
  border-radius: 5px; /* Rounded corners for the error message */
  margin: 10px 0; /* Spacing above and below the message */
  text-align: center; /* Center align the text */
}

.error p strong {
  font-weight: bold; /* Make the text inside <strong> elements bold */
}

.error p a {
  color: #fff; /* Style links inside the error message */
  text-decoration: underline; /* Underline links */
}
