
.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tweet .counter-error {
  color: red;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid #545149;
  width: 100%;
  background-color: #f4f1ec;
  margin-bottom: 10px;
  color: #545149;
  font-weight: 600;
}

#tweet-text::placeholder {
  font-weight: 600;
  color: #545149;
}

#tweet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#tweet-form label {
  font-family: 'Bungee', sans-serif;
}

#below-tweet-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#tweet-button {
  display: flex;
  border: 3px solid #5661da;
  border-radius: 5px;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
}

.counter {
  font-family: 'Bungee', sans-serif;
  margin-right: 5px;
}

.error {
  display: none;
  border: 2px solid #ff3333;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.error p {
  background-color: #ff7f7f;
  color: #fff;
  padding: 10px;
  border: 1px solid #ff3333;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}

.error p strong {
  font-weight: bold;
}

.error p a {
  color: #fff;
  text-decoration: underline;
}

/* new-tweet for desktop */

@media screen and (min-width: 1024px) {
  .new-tweet {
  top: 0;
  flex-grow: 1;
  padding-top: 6px;
  }
}
